.bloque{
    display: flex;
    justify-content: center;

}
.general {
    background-color: gold;
    height: 650px;
    width: 400px;
    border: 2px solid #000303;
    border-radius: 10px 10px 30px 30px;
    box-shadow: 0 6px 10px 0 rgb(3, 1, 1);
}

.pantalla1 {
    background-color: rgb(8, 8, 4);
    height: 360px;
    width: 390px;
    border: 2px solid #000303;
    border-radius: 10px 10px 30px 30px;
    display: flex;
    margin: 0.3em;
    margin-right: 0.3em;
    position: relative;
}

.encendido{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    border: 1px solid rgb(214, 3, 3);
    border-radius: 50%;
    height: 5px;
    width: 5px;
    box-shadow: 0 0 3px 3px red;
    margin-top: 3em;
    margin-left: 0.5em;
}

.letras{
    color: #646363;
    position:absolute;
	bottom:0px;
    left: 13%;
    font-size: 30px;
    
}

#c{
    color: #ff0844;
}

#o1{
    color: blueviolet;
}

#l{
    color: chartreuse;
    display: inline-block;
    transform: rotate(-10deg)
}

#o2{
    color: rgb(187, 187, 4);
}

#r{
    color: rgb(4, 77, 185);
}

.pantalla2{
    background-color: rgb(54, 54, 53);
    height: 230px;
    width: 230px;
    border: 2px solid #000303;
    margin: 0.3em;
    margin-right: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.botones {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    top: 50px;
}

.cruz{
    position: relative;
    left: 1.7rem;
}

.ab {
    display: flex;
    gap: 2rem;
    position: relative;
    left: 2rem;
}

button:hover{
    background-color: #646363;
}

.b {
  margin-top: 1rem;
}


.ab > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #000303;
    color: #646363;
}

.opciones-altavoz {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.opciones-grupos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    left: 2rem;
}

.pildora {
    width: 2rem;
    height: 0.5rem;
    background-color: #000303;
    border-radius: 0.25rem;
}

.letra-consola {
    opacity: 0.8;
}

.nintendo {
    display: flex;
    justify-content: center;
}

.nintendo p {
    border: #000303 2px solid;
    border-radius: 50px;
    margin-top: 1rem;
    padding: 5px 10px;
    font-weight: bold;
}

.cruz{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    gap: 0.5rem;
}

#left{
    display: flex;
    justify-content: center;
}
#izq:hover{
    background-color: #646363;
}

#arriba:hover{
    background-color: #646363;
}

#abajo:hover{
    background-color: #646363;
}

#derecha:hover{
    background-color: #646363;
}

#izq {
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000303;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    top: 30px;

}

#right{
    display: flex;
    justify-content: center;
}

#derecha {
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000303;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    left: -55px;
    top: 30px;

}

#up{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#arriba {
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #000303;
    width: 3rem;
    height: 1.5rem;

}

#down{
    display: flex;
    justify-content: center;
}

#abajo{
    border-bottom-right-radius: 45%;
    border-bottom-left-radius: 45%;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000303;
    width: 3rem;
    height: 1.5rem;
    position: relative;
    top: 60px;
    left: -55px;

}

.altavoz {
    width: 50px;
    height: 40px;
    display: flex;
    gap: 3px;
    transform: rotate(20deg);
    position: relative;
    bottom: 0.8rem;
    left: 1rem;
}

.punto{
    background-image: linear-gradient(to top, #080808 0%, #3d3d3d 100%);
    border: 1px solid rgb(65, 63, 63);
    border-radius: 50%;
    height: 5px;
    width: 5px;
    box-shadow: 0 0 3px 3px rgb(46, 45, 45);
    display: flex;
}

#p1{
    position: relative;
    bottom: 90%;
    padding: 3px;
    left: 100%;
}

#p2{
    position: relative;
    bottom: 90%;
    padding: 3px;
    left: 110%;
}

#p3{
    position: relative;
    bottom: 90%;
    padding: 3px;
    left: 120%;
}

#p4{
    position: relative;
    bottom: 90%;
    padding: 3px;
    left: 130%;
}


#p5{
    position: relative;
    bottom: 45%;
    padding: 3px;
    left: 108%;
}

#p6{
    position: relative;
    bottom: 45%;
    padding: 3px;
    left: 55%;
}

#p7{
    position: relative;
    bottom: 45%;
    padding: 3px;
    left: 2%;
}

#p8{
    position: relative;
    bottom: 45%;
    padding: 3px;
    right: 55%;
}

#p9{
    position: relative;
    top: 5%;
    padding: 3px;
    right: 76%;
}

#p10 {
    position: relative;
    top: 5%;
    padding: 3px;
    right: 66%;
}

#p11 {
    position: relative;
    top: 5%;
    padding: 3px;
    right: 56%;
}

#p12 {
    position: relative;
    top: 5%;
    padding: 3px;
    right: 46%;
}

